#preloader {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #fbfbfb url('https://i.gifer.com/origin/6a/6a2dfb96f278692f0900cc08975efe0e_w200.webp') no-repeat center;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}